{% extends 'base_auth.html' %}

{% load static%}

{% block content %}
        
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-title py-3 ">
                <h4 class="ml-3">Login to your account</h4>
            </div>
            
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}
                    <div class="form-group py-2">
                        <input type="text" name="username" id="usernameField" value="{{fieldValues.username}}" class="form-control form-control-sm" placeholder="Username"> 
                    </div>
                    <div class="form-group py-2">
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm" placeholder="Password"> 
                    </div>
                    <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}