{% extends 'base.html' %} {% load static %}
{% block content %} 

<div class="container"> 
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income' %}">Incomes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Summary Incomes</li>
        </ol>
    </nav>
    </div>
    <div class="col-md-2">
      <a href="{% url 'income' %}" class="btn btn-primary mt-4 float-right">BACK</a>
    </div>
  </div>
  <div class="container">
    <div>
      <canvas id="myChart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </div>
</div>  
<script src="{% static 'js/incomeStats.js' %}"></script>
{% endblock content %}